*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    width: 100%;
   /* background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer > .inner{
    background-color: aqua;
    width: 400px;
    padding: 0;
}
.upper > img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
.upper > h2{
    margin-bottom: 10px;
}


