.container{
    height: 400px;
    width: 400px;
    border: 2px solid red;
}

.container>.box1{
    height: 100px;
    width: 100px;
    border: 2px solid green;
}
.container>.box2{
    height: 100px;
    width: 100px;
    border: ;
}