.container{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
.row1{
    display: flex;
}
.row2{
    display: flex;
}
.row3{
    display: flex;
}
.row4{
    display: flex;
}
.row5{
    display: flex;
}
.row6{
    display: flex;
}
.row7{
    display: flex;
}
.row8{
    display: flex;
}
.White{
    height: 50px;
    width: 50px;
    background-color: white;
}
.black{
    height: 50px;
    width: 50px;
    background-color: black;
}

